/* Conteneur principal centré */
.settings-container {
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    margin: 140px auto;
    background: white;
    padding: 40px;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Titre */
.settings-container h2,
.settings-container h3 {
    text-align: center;
    color: #003366;
}

/* Champs de formulaire */
.settings-container input,
.settings-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Boutons */
.settings-container button {
    
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    font-size: 16px;
}

.settings-container button:hover {
    background-color: #0055aa;
}

/* Tableaux éventuels */
.settings-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.settings-container th,
.settings-container td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}