/* Style général */
.container {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  margin: 120px auto;
  background: white;
  padding: 40px;
  border-radius: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Carte contenant le formulaire */
.card {
  background: white;
  padding: 20px;
  width: 700px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Titres */
h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

table th {
  background-color:  rgba(0, 0, 0, 0.1);
}

/* Formulaire */
.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Boutons */
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.draft {
  background-color: gray;
  color: white;
}

.send {
  background-color: rgb(42, 42, 112);
  color: white;
}
